---
name: CI

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:

jobs:
  ci:
    uses: hassio-addons/workflows/.github/workflows/app-ci.yaml@cdca57260bffc365aaadd18b51b0efe8a7910d3d
    permissions:
      actions: read
      contents: read
      packages: read
      security-events: write

