---
name: Deploy

# yamllint disable-line rule:truthy
on:
  release:
    types:
      - published
  push:
    branches:
      - main

jobs:
  deploy:
    uses: hassio-addons/workflows/.github/workflows/app-deploy.yaml@cdca57260bffc365aaadd18b51b0efe8a7910d3d
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}

